--
-- PostgreSQL database dump
--

\restrict V7hv0lK5R8qBibudMsSFmUdLTr1NbKfcZlZlHjToSWBasFE0Lyvgv5hXiWvJdSg

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bikes_2016; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bikes_2016 (
    id bigint NOT NULL,
    trip_duration interval,
    start_time timestamp without time zone,
    stop_time timestamp without time zone,
    start_station_id integer,
    start_station_name text,
    start_station_lat double precision,
    start_station_long double precision,
    end_station_id integer,
    end_station_name text,
    end_station_lat double precision,
    end_station_long double precision,
    bike_id integer,
    user_type text,
    birth_year integer,
    gender text,
    age integer
);


ALTER TABLE public.bikes_2016 OWNER TO postgres;

--
-- Name: bikes_2016_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bikes_2016_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bikes_2016_id_seq OWNER TO postgres;

--
-- Name: bikes_2016_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bikes_2016_id_seq OWNED BY public.bikes_2016.id;


--
-- Name: citibike_2016_raw; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.citibike_2016_raw (
);


ALTER TABLE public.citibike_2016_raw OWNER TO postgres;

--
-- Name: bikes_2016 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bikes_2016 ALTER COLUMN id SET DEFAULT nextval('public.bikes_2016_id_seq'::regclass);


--
-- Name: bikes_2016 bikes_2016_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bikes_2016
    ADD CONSTRAINT bikes_2016_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict V7hv0lK5R8qBibudMsSFmUdLTr1NbKfcZlZlHjToSWBasFE0Lyvgv5hXiWvJdSg

